.row-cta-card {
	background: url("../static-assets/ld/bg/ld-pattern-1.webp");
	background-size: cover;

	h2 {
		margin: 0 0 1.5rem 0;
		max-width: 780px;
		font-style: normal;
		/* or 125% */
		font-family: Mulish;
		font-size: 38px;
		line-height: 50px; /* 131.579% */
		font-weight: 900;

		&:last-child {
			margin-bottom: 0;
		}

		@media only screen and (max-width: 991px) {
			text-align: center;
		}
	}

	p {
		@media only screen and (max-width: 991px) {
			text-align: center;
		}
	}

	.button-column {
		@media only screen and (max-width: 991px) {
			margin-top: 2rem;
			.btn-cta {
				width: 100%;
			}
		}
	}

	.btn-cta {
		@media only screen and (min-width: 992px) {
			min-width: 280px;
		}

		@media only screen and (min-width: 1199px) {
			min-width: 380px;
		}
	}

	.content-wrapper {
	}

	&.yellow {
		background-color: $color-accent-secondary;
	}

	&.black {
		background: #000 !important;

		h2,
		h5,
		p {
			color: #fff !important;
		}

		.btn-cta {
			background-color: $color-accent-secondary !important;
			color: #000 !important;
		}
	}

	&.jarrin {
		background-color: $color-accent-secondary;

		.text-column {
			h2 {
				font-style: normal;
				font-family: Mulish;
				font-size: 32px;
				line-height: 40px; /* 125% */
				font-weight: 900;
				text-align: left !important;
			}

			p {
				font-style: normal;
				font-family: Mulish;
				font-size: 16px;
				line-height: 23px;
				font-weight: 900;
			}

			@media only screen and (max-width: 991px) {
				padding-top: 3rem;
			}
		}

		.button-column {
			background: url("../static-assets/ld/bg/component-cta-jarrins.webp");
			background-position: bottom center;
			background-size: contain;
			background-repeat: no-repeat;

			@media only screen and (max-width: 991px) {
				margin-top: 2rem;
				padding-bottom: 5rem;
				background-position: 90% bottom !important;

				.btn-cta {
					margin-top: 5rem;
					width: 94%;
				}
			}

			@media only screen and (min-width: 992px) {
				min-height: 238px;
			}
		}
		@media only screen and (max-width: 991px) {
			padding: 5rem 0 0 !important;
		}

		@media only screen and (min-width: 992px) {
			// min-width: 380px;
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
		@media only screen and (max-width: 991px) {
			padding-top: 1rem !important;
		}
	}

	@media only screen and (max-width: 991px) {
		padding: 2rem 0 5rem;
	}
	// background-position:bottom right;
	// background-repeat: no-repeat;
}
