@import "row-split-block";
@import "row-split-callout";
@import "row-tabbed-content";
@import "row-content-columns";
@import "row-cta-card";
@import "row-focus-cards";
@import "row-accordion";
@import "row-image-cards";
@import "row-stats-card";
@import "row-as-seen-on";
@import "row-association-icons";
@import "row-standard-form";
@import "row-multi-step-form";
@import "row-featured-image";
@import "row-cta-card";
@import "row-default";
@import "row-featured-lead-cta";

@import "modifiers"; // DO NOT REMOVE - This must be imported last

// Brand Specific Styles
@import "branded/los-defensores/ld-components";

.hero {
	padding-top: 100px;
	padding-bottom: 100px;
	font-weight: 700;
}
